#Buscador {
  text-align: center;
  position: sticky;
  top: 0;
}
#Buscador > input {
  border-radius: 4px;
  width: 90%;
  border: solid 2px var(--Negro);
  padding: 0.25em;
  background-color: var(--Blanco);
  border: none;
  font-size: 1rem;
}
