.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.card {
  border-radius: 4px;
  background-color: var(--Gris);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0px 1px;
}

.card > h2 {
  text-align: center;
  margin: 0;
  padding: 3px;
  border-bottom: 2px solid var(--Celeste);
}

.card > .categoria-estado {
  display: flex;
  justify-content: space-evenly;
}
.card > .categoria-estado > h3 {
  text-align: center;
}

.card > .categoria-estado > span {
  color: var(--Blanco);
  border-radius: 6px;
  padding: 0.5em;
  align-self: center;
  font-size: 0.9rem;
}
.card > .categoria-estado > .estado-finalizado {
  background-color: var(--Rosa);
}

.card > .categoria-estado > .estado-enProceso {
  background-color: var(--Celeste);
}
.btn-borrar {
  margin-top: 0.5em;
  padding: 10px 20px;
  align-self: center;
  background-color: var(--base-filtros);
  border: none;
  color: var(--Negro);
  cursor: pointer;
  box-shadow: 2px 2px var(--Negro);
  border-radius: 4px;
  font-weight: bold;
}

.btn-borrar:hover {
  background-color: var(--luz-filtros);
}

.btn-borrar:active {
  box-shadow: 2px 2px var(--Negro) inset;
}
